.navbar {
    overflow: hidden;
    background-color: #333;
    position: relative; /* Set the navbar to fixed position */
    top: 1; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body {
	background-color: #84AD55;
}

h2{
  font-family: Aldrich;
  font-size: 38;
}

p{
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}

embed{
	top: 100;
	padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
    width: "1000";
    height: "1150";
}